.button {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: $gradient-primary;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s ease-in-out;
  }

  &--primary {
    border: 3px solid $color-default-white;
    transition: 0.2s;

    &:hover,
    &:focus {
      background-color: $color-default-white;
      color: $color-egyptian-blue;
    }

    &:active {
      color: $color-sapphire;
    }
  }

  &--secondary {
    border: 3px solid $color-sapphire;
    background-color: $color-default-white;

    &:hover,
    &:focus {
      color: $color-default-white;
      border-color: transparent;
      border-image-source: $gradient-primary;
      border-image-slice: 1;

      &::after {
        opacity: 1;
      }
    }

    &:active {
      color: $color-default-white-opacity-70;
    }
  }

  &--tab {
    border: 1px solid $color-sapphire-opacity-20;
    color: $color-sapphire;
    background-color: transparent;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    transition: 0.2s;

    &:hover,
    &:focus {
      border-color: $color-sapphire;
    }

    @include vp-767 {
      font-size: 16px;
    }
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
