.button {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  &--primary {
    border: 3px solid $color-default-white;
  }

  &--secondary {
    border: 3px solid $color-sapphire;
  }
}
