.coach-card {
  position: relative;
  overflow: hidden;
  width: 260px;

  @include vp-1199 {
    width: 268px;
    height: 294px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }

  &:hover,
  &:focus {
    .coach-card__desc {
      visibility: visible;
      opacity: 1;
    }

    .coach-card__name--outer {
      display: none;
    }
  }
}

.coach-card__desc {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 46px 10px 55px;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 38, 84, 0.89);
  transition: 0.2s;

  @include vp-767 {
    padding: 10px 33px;
  }
}

.coach-card__name {
  margin: 0;
  font-size: 18px;
  color: $color-default-white;
  white-space: nowrap;
  line-height: 100%;
  max-width: 240px;

  &--outer {
    position: absolute;
    left: 50%;
    bottom: 27px;
    transform: translateX(-50%);

    @media (min-width: 1200px) {
      &:hover,
      &:focus {
        display: none;
      }
    }
  }

  &--inner {
    margin: 0 0 2px 0;
  }
}

.coach-card__experience-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 33px 0 0 0;
  padding: 0 0 0 15px;
  list-style-type: none;
}

.coach-card__experience-item {
  font-size: 14px;
  line-height: 20px;
  color: $color-default-white;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 8px;
    left: -15px;
    background-color: $color-default-white;
    display: block;
  }
}

.coach-card__type {
  font-size: 16px;
  color: $color-spindle;
}

.coach-card__avatar {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
