.faq {
  background-color: $color-additional-white;
  padding: 120px 0;

  @include vp-1199 {
    padding: 100px 0 97px;
  }

  @include vp-767 {
    padding: 70px 0 75px;
  }
}

.faq__title {
  margin: 0 0 39px;

  @include vp-1199 {
    text-align: center;
  }

  @include vp-767 {
    margin: 0 0 30px;
  }
}

.faq__buttons-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 260px;
  flex-shrink: 0;
  flex-wrap: wrap;

  @include vp-1199 {
    flex-direction: row;
    width: 100%;
  }

  @include vp-767 {
    gap: 8px;
  }
}

.faq__buttons-item {
  @include vp-1199 {
    width: 23.8%;
  }

  @include vp-767 {
    width: 48.6%;
  }
}

.faq__content-wrapper {
  display: flex;
  gap: 40px;

  @include vp-1199 {
    flex-direction: column;
  }

  @include vp-767 {
    gap: 29px;
  }
}

.faq__tabs-wrapper {
  width: 100%;
  max-width: calc(100% - 260px);

  @include vp-1199 {
    max-width: none;
  }
}

.faq__tabs-list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  flex-direction: column;
  display: none;
}

.faq__tabs-item {
  cursor: pointer;
  position: relative;
}

.faq__button {
  width: 100%;
  height: 100%;
  min-height: 54px;
  cursor: pointer;
  padding: 15px;
  line-height: 100%;

  @include vp-767 {
    min-height: 44px;
    padding: 13px 15px;
  }
}

.faq__button.is-active {
  background-image: $gradient-primary;
  color: $color-default-white;
}

[data-tab-group-name].is-shown {
  display: flex;
  animation: fade-in 0.6s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
