.footer {
  background-color: $color-additional-black;
  min-height: 108px;
  display: flex;
  align-items: center;
}

.footer__logo {
  font-size: 26px;
  color: $color-default-white;

  @include vp-1199 {
    font-size: 24px;
  }

  @include vp-767 {
    font-size: 20px;
  }
}

.footer__navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer__navigation-link {
  color: $color-default-white;
  text-decoration: none;
  padding: 20px;
  display: block;
}

.footer__socials-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer__container {
  display: flex;
  align-items: center;
}

.footer__socials-link {
  display: block;
  width: 25px;
  height: 25px;
  background-size: 25px 25px;

  &--vk {
    background-image: url("../img/sprite.svg#ok");
  }
}
