.footer {
  background-color: $color-additional-black;
  min-height: 108px;
  display: flex;
  align-items: center;

  @include vp-1199 {
    min-height: 114px;
  }

  @include vp-767 {
    padding: 38px 0 52px;
  }
}

.footer__logo-wrapper {
  width: 28.4%;
  margin: 10px 14px 0 0;

  @include vp-1199 {
    margin: 0 auto 0 0;
    width: auto;
    padding: 0 21px 0 0;
  }

  @include vp-767 {
    margin: 0;
    padding: 0 0 0 15px;
    width: 50%;
  }
}

.footer__logo {
  font-size: 26px;
  color: $color-default-white;

  @include vp-1199 {
    font-size: 24px;
  }

  @include vp-767 {
    font-size: 20px;
  }
}

.footer__navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 469px;

  @include vp-1199 {
    max-width: 419px;
  }
}

.footer__navigation-link {
  position: relative;
  color: $color-default-white;
  text-decoration: none;
  padding: 20px;
  display: block;
  font-size: 14px;
  font-weight: 400;

  &::after {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: 1px;
    background-color: $color-default-white;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.2s;

    @include vp-1199 {
      width: calc(100% - 30px);
    }
  }

  @include vp-767 {
    display: inline-block;

    &::after {
      width: calc(100% - 26px);
      bottom: 5px;
    }
  }

  &:focus,
  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &--disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  @include vp-1199 {
    padding: 15px;
  }

  @include vp-767 {
    font-size: 16px;
    padding: 8px 13px;
  }
}

.footer__navigation-item {
  @include vp-767 {
    width: 50%;
  }
}

.footer__socials-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 auto;
  display: flex;

  @include vp-767 {
    width: calc(100% - 10px);
    position: absolute;
    margin: 0;
    padding: 0 0 0 10px;
    bottom: -5px;
    flex-wrap: wrap;
  }
}

.footer__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include vp-767 {
    padding: 0 0 50px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
  }
}

.footer__socials-item {
  padding: 5px;
}

.footer__socials-link {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $color-default-white;
  transition: 0.2s;

  &:focus,
  &:hover {
    background-color: $color-egyptian-blue;

    & .footer__socials-link-svg {
      color: $color-default-white;
    }
  }

  &:active {
    background-color: $color-sapphire;
  }

  &--disabled {
    background-color: $color-default-white-opacity-30;
    pointer-events: none;

    & .footer__socials-link-svg {
      color: $color-additional-black;
    }
  }
}

.footer__socials-link-svg {
  color: $color-additional-black;
}
