.gym {
  padding: 120px 0;

  @include vp-1199 {
    padding: 100px 0 100px;
  }

  @include vp-767 {
    padding: 63px 0 0;
  }
}

.gym__wrapper {
  display: flex;
  gap: 22px;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }

  @include vp-767 {
    gap: 25px;
  }
}

.gym__text-wrapper {
  padding: 39px 0 0 60px;
  color: $color-sapphire;

  @include vp-1199 {
    padding: 0 50px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.gym__text-wrapper h2 {
  font-size: 48px;
  font-family: $ff-secondary;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  margin: 0 0 8px 0;
  color: inherit;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.26px;
    text-align: center;
    margin: 0;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    text-align: left;
    margin: 0 0 5px 0;
  }
}

.gym__text-wrapper h3 {
  color: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0 0 39px 0;

  @include vp-1199 {
    font-size: 18px;
    margin: 0 0 33px 0;
    text-align: center;
  }

  @include vp-767 {
    text-align: left;
    margin: 0 0 24px 0;
  }
}

.gym__text-wrapper p {
  color: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  margin: 0;

  @include vp-1199 {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
  }

  @include vp-767 {
    text-align: left;
    padding: 0 27px 0 0;
  }
}

.gym__text-wrapper p:not(:last-child) {
  margin: 0 0 8px 0;
}

.gym__text-wrapper p:not(:first-of-type) {
  @include vp-1199 {
    display: none;
  }
}

.gym__media-wrapper {
  flex-shrink: 0;
  align-self: flex-start;
  position: relative;
  padding: 0 0 115px 63px;

  @include vp-1199 {
    padding: 0 0 83px 0;
    align-self: auto;
  }

  @include vp-767 {
    width: calc(100% + 30px);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 0 70px 0;
  }
}

.gym__video-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;

  @include vp-1199 {
    left: 50%;
    transform: translateX(-50%);
  }

  @include vp-767 {
    position: relative;
    transform: none;
    left: auto;
  }
}

.gym__video {
  height: 228px;
  object-fit: cover;

  @include vp-1199 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    width: 100%;
  }

  background-image: url("../img/coach-1.jpg");
}

.gym__image {
  @include vp-767 {
    width: 100%;
  }
}
