.promo {
  padding: 146px 0 120px;

  @include vp-1199 {
    padding: 91px 0 100px;
  }

  @include vp-767 {
    padding: 64px 0 70px;
  }
}

.promo__title {
  text-align: center;
  margin: 0 0 34px 0;

  @include vp-1199 {
    margin: 0 0 40px 0;
  }

  @include vp-767 {
    margin: 0 0 41px 0;
  }
}

.promo__block-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.promo__special-block {
  grid-row: 1 / 3;
  display: flex;

  @include vp-1199 {
    grid-row: auto;
    grid-column: 1 / 3;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.promo__special-block-text-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $color-torch-red-additional;
  color: $color-default-white;
  padding: 40px 45px;

  @include vp-767 {
    align-items: center;
    min-height: 299px;
  }
}

.promo__special-block-img {
  flex: 1;

  @include vp-1199 {
    width: 399px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.promo__special-block-link {
  margin: auto 0 0 0;
  font-size: 14px;
  align-self: flex-start;

  @include vp-767 {
    align-self: center;
  }
}

.promo__special-block-subheading {
  margin: 0 0 4px;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}

.promo__special-block-heading {
  margin: 0 0 20px;
  font-size: 70px;
  font-weight: 700;
  line-height: 100%;

  @include vp-767 {
    margin: 0 0 14px;
  }
}

.promo__special-block-desc {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;

  @include vp-767 {
    text-align: center;
  }
}

.promo__block {
  display: flex;
  flex-direction: column;
  color: $color-resolution-blue;
  border: 7px solid;
  border-image-source: $gradient-promo-block;
  border-image-slice: 1;
  padding: 26px;
  gap: 8px;

  @include vp-1199 {
    min-height: 211px;
  }

  @include vp-767 {
    align-items: center;
    padding: 36px 26px;
    text-align: center;
    gap: 11px;
  }
}

.promo__block-heading {
  margin: 0;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}

.promo__block-desc {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  br {
    display: none;

    @include vp-1199 {
      display: block;
    }
  }
}

.promo__block-link {
  margin: auto 0 0;
  font-size: 12px;
  align-self: start;

  @include vp-767 {
    align-self: center;
  }
}
