.reviews {
  padding: 120px 0;

  @include vp-1199 {
    padding: 90px 0 100px;
  }

  @include vp-767 {
    padding: 63px 0 69px;
  }
}

.reviews__title {
  margin: 0 0 36px;
  text-align: center;

  @include vp-1199 {
    margin: 0 0 40px;
  }

  @include vp-767 {
    margin: 0 0 42px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviews__slider-wrapper {
  max-width: 560px;
  overflow: hidden;

  @include vp-1199 {
    max-width: 566px;
  }

  @include vp-767 {
    max-width: 226px;
  }
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__content-wrapper {
  position: relative;
}

.reviews__slider-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &--prev {
    left: -60px;

    @include vp-767 {
      left: -30px;
    }
  }

  &--next {
    right: -60px;

    @include vp-767 {
      right: -30px;
    }
  }
}
