.review {
  width: 560px;
  padding: 58px 62px 48px;
  min-height: 242px;
  background-color: $color-resolution-blue;
  display: grid;
  grid-template-columns: auto 1fr;
  color: $color-default-white;
  gap: 4px 28px;

  @include vp-1199 {
    gap: 4px 32px;
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
    padding: 36px 22px;
    gap: 17px 15px;
    align-items: center;
    justify-content: center;
  }
}

.review__picture {
  @include vp-767 {
    width: 68px;
    justify-self: end;
  }

  @media (min-width: 768px) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}

.review__reviewer-name {
  font-size: 20px;
  font-weight: 700;

  @include vp-767 {
    display: inline-block;
  }
}

.review__reviewer__message {
  font-size: 16px;
  font-weight: 400;
  margin: 0;

  @include vp-767 {
    grid-column: 1 / 3;
    text-align: center;
    line-height: 140%;
  }
}
