.subscription {
  padding: 120px 0 188px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0, rgba(248, 249, 252, 1) 0, rgba(248, 249, 252, 1) 850px, rgba(255, 255, 255, 1) 850px);
  overflow: hidden;

  @include vp-1199 {
    background: linear-gradient(180deg, rgba(248, 249, 252, 1) 1778px, rgba(255, 255, 255, 1) 1778px);
    padding: 100px 0 186px;
  }

  @include vp-767 {
    padding: 64px 0 69px;
  }
}

.subscription__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  > h2 {
    margin: 0 0 17px 0;
    color: $color-sapphire;
    font-size: 54px;
    font-family: $ff-secondary;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.62px;

    @include vp-1199 {
      font-size: 42px;
      letter-spacing: 1.26px;
      max-width: 442px;
      margin: 0 0 20px;
    }

    @include vp-767 {
      font-size: 32px;
      letter-spacing: 0.96px;
    }
  }

  @include vp-1199 {
    padding: 0;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.subscription__list {
  list-style-type: none;
  display: flex;
  gap: 46px;
  padding: 0;
  margin: 0;
  position: relative;
  justify-content: space-between;

  @include vp-1199 {
    gap: 54px;
  }

  @include vp-767 {
    gap: 45px;
  }
}

.subscription__card-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
  z-index: 1;

  @include vp-1199 {
    gap: 35px;
    grid-template-columns: 1fr;
  }
}

.subscription__card-item {
  @media (min-width: 1200px) {
    max-width: 360px;
    min-width: 304px;
  }
  overflow: hidden;

  @include vp-1199 {
    justify-self: center;
    width: 57.5%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.subscription__item {
  button {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: rgba(16, 38, 84, 0.5);
    cursor: pointer;
    position: relative;
    transition: 0.2s;

    @include vp-1199 {
      font-size: 18px;
    }

    @include vp-767 {
      font-size: 16px;
    }

    &:focus,
    &:hover {
      color: rgba(16, 38, 84, 1);
      outline: none;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: $color-torch-red-additional;
        bottom: -13px;
        left: 0;
      }
    }
  }

  &--active button {
    color: rgba(16, 38, 84, 1);
  }
}

.subscription__indication-wrapper {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin: 0 0 39px 0;

  @include vp-1199 {
    margin: 0 0 45px 0;
  }

  @include vp-767 {
    margin: 0 0 35px 0;
  }
}

.subscription__indicator {
  position: relative;
  width: 100%;
  height: 2px;
  background: rgba(120, 120, 120, 0.2);
}

.subscription__indicator-fill {
  position: absolute;
  background: $color-crimson;
  height: 2px;
  transition: 0.2s;
}

.subscription-card__price-order-link {
  display: block;
}

.subscription__picture {
  position: absolute;
  bottom: -215px;
  right: -107px;
  transform: rotate(-31deg);

  @include vp-1199 {
    bottom: -180px;
    right: -9px;
  }

  @include vp-767 {
    display: none;
  }
}
